.centreText {
    text-align: center;
}

/*
 This code will apply a font size of 150px to all h1 tags and those tags that 
 have a className of centreText will be centre aligned.
 */
h1 {
    font-size: 150px;
}

/*
What this does is that it gives some very basic UI to the dropzone. 
It gives the DropZone a dashed border, limits the size of it on the screen 
and centerizes the text.
*/
.dropZone {
height: 50vh;
border-style: dashed;
}
    
.image {
max-width: 100%;
height: 50vh;
padding-top: 3px;
padding-bottom: 9px;
}

.dank {
padding-top: 20px;
}